EXTERNAL_DB_HOST=127.0.0.1
EXTERNAL_DB_PORT=3307
EXTERNAL_DB_NAME=student_external_db
EXTERNAL_DB_USER=student_user
EXTERNAL_DB_PASSWORD=student_password

CACHE_TTL_SECONDS=60

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=student_user
RABBITMQ_PASSWORD=student_password
RABBITMQ_EXCHANGE=student_class_events
